/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

/* global selector */

* {
    font-family: 'Hind Siliguri', sans-serif;

}

.faqTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* changing selection color */

::-moz-selection {
    background: rgb(13, 104, 69);
}

::selection {
    background: rgb(13, 104, 69);
}